.card {
  margin: auto;
  padding: 2em;
  max-width: 60rem;
}

:host ::ng-deep .p-dialog {
  width: 450px;
}

@media screen and (max-width: 960px) {
  :host ::ng-deep .p-dialog {
    width: 70vw;
  }
}



